{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="stg-installer center-block">
                    <h4>7Tag Manager installer</h4>

                    {% include 'SevenTagInstallerBundle::partials/environmentStep.html.twig' with {
                      'name': 'System',
                      'hasFailedRequirements': requirements.hasFailedSystemRequirements(),
                      'failedRequirements': requirements.getFailedSystemRequirements()
                    } %}
                    {% include 'SevenTagInstallerBundle::partials/environmentStep.html.twig' with {
                      'name': 'PHP version',
                      'hasFailedRequirements': requirements.hasFailedPhpRequirements(),
                      'failedRequirements': requirements.getFailedPhpRequirements()
                    } %}
                    {% include 'SevenTagInstallerBundle::partials/environmentStep.html.twig' with {
                      'name': 'Database',
                      'hasFailedRequirements': requirements.hasFailedDatabaseRequirements(),
                      'failedRequirements': requirements.getFailedDatabaseRequirements()
                    } %}

                    {% if requirements.getFailedRequirements() is not empty %}
                      <button class="btn btn-success disabled">Continue</button>
                    {% else %}
                      <a href="{{ path('configuration') }}" class="btn btn-success">Continue</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
