{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="stg-installer center-block">
                    <h2>7Tag configured!</h2>
                    <p>Before using the application, please read the documentation</p>

                    <div class="stg-btn-block center-block">
                        <a href="/" class="btn btn-block btn-success">Start</a>
                        <a href="//7tag.org/docs/introduction/" target="_blank" class="btn btn-block btn-default">Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
