{
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": [
      "agpl"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true
  },
  "rules": {
    "agpl/valid-license": [2, "2015 Digimedia Sp. z.o.o. d/b/a Clearcode"],
    "quotes": [1, "single", "avoid-escape"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "always"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "consistent-this": [2, "self"],
    "indent": [2, 4],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "max-nested-callbacks": [2, 6],
    "new-cap": [2, {"newIsCap": true, "capIsNew": true}],
    "new-parens": [1],
    "newline-after-var": [0],
    "no-array-constructor": [2],
    "no-continue": [2],
    "no-inline-comments": [2],
    "no-lonely-if": [1],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": [2],
    "no-new-object": [2],
    "no-spaced-func": [2],
    "no-underscore-dangle": [2],
    "no-unneeded-ternary": [2],
    "one-var": [0],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after", { "overrides": { "?": "before", ":": "before" } }],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "as-needed"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "always"],
    "space-infix-ops": [2, {"int32Hint": false}],
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "spaced-comment": [2, "always"],
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-console": [2],
    "no-constant-condition": [2],
    "no-debugger": [2],
    "no-dupe-args": [2],
    "no-dupe-keys": [2],
    "no-duplicate-case": [2],
    "no-empty-character-class": [2],
    "no-empty": [2],
    "no-ex-assign": [2],
    "no-extra-boolean-cast": [2],
    "no-extra-parens": [2],
    "no-extra-semi": [2],
    "no-func-assign": [2],
    "no-inner-declarations": [2],
    "no-invalid-regexp": [2],
    "no-irregular-whitespace": [2],
    "no-negated-in-lhs": [2],
    "no-obj-calls": [2],
    "no-regex-spaces": [2],
    "no-sparse-arrays": [2],
    "no-unreachable": [2],
    "use-isnan": [2],
    "valid-typeof": [2],
    "no-alert": [2],
    "prefer-template": [2],
    "no-mixed-requires": [0],
    "newline-before-return": [0]
  },
  "globals": {
    "angular": true,
    "vsprintf": true,
    "browser": true,
    "by": true,
    "element": true,
    "err": false
  }
}
