<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Installer{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="/installer/assets/bootstrap/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="/installer/styles/main.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="container-fluid">
                <div class="row">
                    <div class="stg-top">
                        <img class="stg-logo" src="/installer/images/logo.png">
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
