<section id="events-log-tag-details" class="animated slideInRight">
    <div id="events-log-tag-details-breadcrumb">
        <ul>
            <li>
                <a href ui-sref="events-log.details.related-tags.list({eventId: view.eventId})">
                    <i class="icon-arrow-left"></i>
                    <span class="event-log-breadcrumb-label">{{ details.tagSummary.name }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="events-log-tag-details-code-preview">
        <h5><%= __('Html tag content') %></h5>
        <pre>
<code ng-bind="details.tagSummary.code"></code>
        </pre>
    </div>
    <div id="events-log-tag-details-triggers">
        <table>
            <thead>
            <tr>
                <th class="size-70"><%= __('Trigger name') %></th>
                <th class="size-20"><%= __('Status') %></th>
                <th class="size-10"></th>
            </tr>
            </thead>
            <tbody ng-repeat="trigger in details.tagSummary.triggers" ng-init="folded = false">
                <tr ng-click="folded = !folded">
                    <td class="size-70" title="{{ trigger.name }}">{{ trigger.name | limitTo : 22 }}{{ trigger.name.length > 22 ? '...' : '' }}</td>
                    <td class="size-20">
                        <i class="icon-resolved" ng-if="trigger.resolved"></i>
                        <i class="icon-unresolved" ng-if="!trigger.resolved"></i>
                    </td>
                    <td class="size-10">
                        <i class="icon-arrow-right" ng-if="!folded"></i>
                        <i class="icon-arrow-down" ng-if="folded"></i>
                    </td>
                </tr>
                <tr ng-if="folded">
                    <td colspan="3" class="children">
                        <table>
                            <tbody>
                            <tr ng-repeat="condition in trigger.conditions">
                                <td class="size-80">
                                    <strong>{{ condition.variable }}</strong><br />
                                    <span>{{ condition.action }}</span><br />
                                    <span>"{{ condition.value }}"</span>
                                </td>
                                <td class="size-20">
                                    <i class="icon-resolved" ng-if="condition.resolved"></i>
                                    <i class="icon-unresolved" ng-if="!condition.resolved"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

