<div class="stg-step stg-{% if hasFailedRequirements == false %}success{% else %}danger{% endif %}">
    <hr>
    <span>{{ name }}</span>
    <span class="pull-right glyphicon glyphicon-{% if hasFailedRequirements == false %}ok{% else %}remove{% endif %}"></span>

    {% for requirement in failedRequirements %}
    <span class="stg-info">
        {{ requirement.getTestMessage() }}
        {{ requirement.getHelpHTML()|raw }}
    </span>
    {% endfor %}
    <hr>
</div>
