# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     tag_manager_admin
    database_user:     ~
    database_password: ~
    database_path:     "%kernel.root_dir%/tag_manager_admin.db3"

    mailer_transport:           smtp
    mailer_host:                127.0.0.1
    mailer_user:                ~
    mailer_password:            ~
    mailer_sender:              example@example.com # Please change it to your support mail
    mailer_spool:               { type: file, path: "%kernel.root_dir%/../var/spool" }
    mailer_delivery_address:    ~

    locale:            en

    secret:            "&-2_W\$/N=auNLuE?NM6:G:w-V{5,_"

    datetime_default_format: "Y-m-d\TH:i:sO"

    seventag_licence_template_path: '%kernel.root_dir%/Resources/container-lib/licence.dist'
    seventag_tagtree_template_path: '%kernel.root_dir%/Resources/container-lib/tagTree.js.dist'
    seventag_tagtree_sync_template_path: '%kernel.root_dir%/Resources/container-lib-sync/tagTree.js.dist'
    seventag_javascript_debugger_path: '%kernel.root_dir%/../web/container-debugger/debug.js'
    seventag_domain: 'http://7tag.dev'
    seventag_javascript_library_path: '%kernel.root_dir%/Resources/container-lib/library.js.dist'
    seventag_javascript_library_sync_path: '%kernel.root_dir%/Resources/container-lib-sync/library.js.dist'
    seventag_javascript_bootstrap_path: '%kernel.root_dir%/Resources/container-lib/bootstrap.js.dist'
    seventag_javascript_bootstrap_sync_path: '%kernel.root_dir%/Resources/container-lib-sync/bootstrap.js.dist'
    seventag_javascript_cache_dir: '%kernel.root_dir%/../web/containers'
    seventag_javascript_url_template: ~
    seventag_javascript_synchronous_url_template: ~
    seventag_javascript_noscript_url_template: ~

    seventag_container_library_cdn:
      enabled: false
      service: ~
      service_options: []

    sentry_dsn:
    web_dir: '%kernel.root_dir%/../web'
