#events-log {
    height: 100%;
    padding: 13px 0 0 30px;
    @include content();
    @include debugger-table-view();
    table {

        & > tbody {

            & > tr {

                @include linkenable();

                & > td {

                    a {
                        display: block;
                        color: inherit;
                        padding: 24px 30px 24px 0;
                    }

                    cursor: pointer;
                    font-size: 12px;

                    i {
                        font-size: 17px;
                    }

                    &:nth-child(1) {
                        position: relative;
                        text-align: center;
                    }


                }

                .numerable {
                    @extend .pull-left;
                    @include status-pill-variant(#ededed, #666, none);

                }

                .event-name {
                    @extend .pull-left;
                    padding: 5px 15px;
                    line-height: 0px;
                }

                &:first-child > td {
                    border-top: none;
                }

            }

        }
    }
}
