include ../../../views/_mixins.jade
extends ../../../views/_view-forms.jade
block vars
    - var LOADING_PROMISE = 'view.variablePromise';
    - var FORM_TITLE = '<span translate="Configure variable"></span>'
    - var VARIABLE_FORM_NAME = 'variableForm';
    - var FORM_NAME = VARIABLE_FORM_NAME;
block fields
    include _form.jade
block actions
    .form-group(ng-if="currentContainer.$container.hasPermission('edit')")
        hr.divider
        +field_submit(
            FORM_NAME,
            '{{"Save"|translate}}'
        )(
            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.variable) : view.displayInvalidFormMessage()",
            ng-disabled="!view.formTouched"
        )
