include ../../../views/_mixins.jade
extends ../../../views/_view-forms.jade

block vars
    - var LOADING_PROMISE = 'view.resetPromise';
    - var FORM_TITLE = "{{'Forgot your password?'|translate}}";
    - var FORM_NAME = 'resetPasswordForm';
    - var FORM_RESOURCE = 'view.profilePromise';

block statements
    p.stg-standalone-text(ng-hide="view.success")= "{{'Please enter your email address below. We will send you an email with the link to reset your password.'|translate}}"

block fields
    div(ng-hide="view.success")
        +field_email(
            FORM_NAME,
            "view.email",
            "email",
            "{{'Email'|translate}}" + " <span class=\"important\">*</span>",
            "view.validationForce"
        )#reset-field-new-password(
            ng-required="true",
        )
          
    .alert.alert-empty.reset-success(ng-show="view.success")
        h2.text-center
            strong(translate='The email with the activation link has been sent successfully.')
        p.text-center(translate='Please check your email. You should receive a message with the activation link.')
        p.text-center.action
            a(href, ui-sref="signIn", translate="Log in page").btn.btn-primary
block actions
    div(ng-hide="view.success")
        +field_submit(
            FORM_NAME,
            "{{'Submit'|translate}}"
        )#container-form-submit-button(
            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.email) : view.displayInvalidFormMessage()"
        )