<header id="navbar">
    <a
        id="navbar-slide-button"
        href
        ng-click="debugger.minimizedMemento.isMinimized() ? debugger.minimizedMemento.maximize() : debugger.minimizedMemento.minimize()"
    >
        <i class="icon-arrow-thin-right" ng-if="!debugger.minimizedMemento.isMinimized() && !isMobile()"></i>
        <i class="icon-arrow-thin-left" ng-if="debugger.minimizedMemento.isMinimized() && !isMobile()"></i>
        <i class="icon-arrow-down" ng-if="debugger.minimizedMemento.isMinimized() && isMobile()"></i>
        <i class="icon-arrow-up" ng-if="!debugger.minimizedMemento.isMinimized() && isMobile()"></i>
    </a>
    <div id="brand-minimize" minimize-element ng-if="isMobile()">
        <i class="icon-logo"></i>
    </div>
    <div id="navbar-brand" minimize-cloak>
        <i class="icon-logo"></i>
    </div>
    <div id="navbar-container-separator" minimize-cloak></div>
    <div id="navbar-container-name" minimize-cloak>
        {{ debugger.$containerName }}
    </div>
    <a id="navbar-close-button" href minimize-cloak ng-click="debugger.close()"><i class="icon-close"></i></a>
</header>
