include ../../../views/_mixins.jade

extends ../../../views/_view-forms.jade

block vars
    - var LOADING_PROMISE = 'view.containerPromise';
    - var FORM_TITLE = '{{"New container"|translate}}';
    - var FORM_NAME = 'createContainerForm';

block fields

    .row(ng-init="view.validateContainer = false")
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.container.name",
                "viewContainerName",
                "{{'Container name'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateContainer"
            )#container-form-name(
                ng-required="true",
                placeholder='{{"Enter your container’s name"|translate}}'
            )
        .col-lg-4
            // Place for help

block actions
    .form-group
        +field_submit(
            FORM_NAME,
            '{{"Save"|translate}}'
        )#container-form-submit-button(
            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.container) : view.displayInvalidFormMessage()"
        )

