{% extends "base.html.twig" %}

{% block title %}Installer - parameters{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="stg-notification stg-notification-success center-block">
                    Please create file inside this path <mark>{{ parametersPath }}</mark> and paste content dumped below.
                    If everything is correct please click "Continue" button.
                </div>

                <div class="parameters-file">
                    <textarea class="form-control" onclick="this.select()" readonly rows="25">{{ parameters }}</textarea>
                    <button class="btn btn-copyToClipboard">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        <span>Copy code</span>
                    </button>
                </div>

                <a href="{{ path('admin') }}" class="btn btn-success submitLink">Continue</a>
            </div>
        </div>

        <script>
            var copyBtn = document.querySelector('.btn-copyToClipboard'),
                textToCopyElement = document.querySelector('.parameters-file textarea');
            copyBtn.addEventListener('click', copyToClipboardCallback);

            function copyToClipboardCallback () {
                textToCopyElement.focus();
                textToCopyElement.select();

                if (!copyToClipboard()) {
                    copyBtn.innerHTML = 'Your web browser does not support this feature. Please copy the text manually.';
                }
            }

            function copyToClipboard () {
                var copySuccess = false;

                try {
                    copySuccess = document.execCommand('copy', false, null);
                } catch (ignored){
                }

                return copySuccess;
            }
        </script>
    </div>
{% endblock %}
