include ../../../views/_mixins.jade
extends ../../../views/_view-forms.jade

block vars
    - var LOADING_PROMISE = 'triggerForm.triggerPromise';
    - var FORM_TITLE = "{{'Add a new trigger'|translate}}";
    - var TRIGGER_FORM_NAME = 'createTriggerForm';
    - var FORM_NAME = TRIGGER_FORM_NAME;
    - var FORM_RESOURCE = 'triggerForm.triggerPromise';

block fields
    include _form.jade

block actions
    .form-group(ng-if="currentContainer.$container.hasPermission('edit')")
        hr.divider
        +button('primary')#trigger-form-add-button(
            ng-click="triggerForm.validateTrigger(#{TRIGGER_FORM_NAME}) ? triggerForm.submitForm(triggerForm.trigger) : triggerForm.displayInvalidFormMessage(view)",
            translate="Save"
        )
