<section id="event-details-variables" class="animated fadeIn">
    <table>
        <thead>
            <tr>
                <th class="size-30"><%= __('Name') %></th>
                <th class="size-70"><%= __('Value') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(name, value) in view.summary.variableCollection">
                <td class="size-30">{{ name }}</td>
                <td class="size-70">
                    <span ng-if="value !== undefined">{{ value | json }}</span>
                    <span ng-if="value === undefined">undefined</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
