<section id="overview-tag-details" class="animated fadeIn">
    <div id="overview-tag-details-breadcrumb">
        <ul>
            <li>
                <a href ui-sref="overview.tags">
                    <i class="icon-arrow-left"></i>
                    <span class="event-log-breadcrumb-label" title="{{ view.tagSummary.name | limitTo : 22 }}">
                        {{ view.tagSummary.name | limitTo : 22 }}{{ view.tagSummary.name.length > 22 ? '...' : '' }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div id="overview-tag-details-code-preview">
        <h5><%= __('Html tag content') %></h5>
        <pre>
<code ng-bind="view.tagSummary.code"></code>
        </pre>
    </div>
    <div id="overview-tag-details-status">
        <h5><%= __('Fired') %></h5>
        <div class="status-pill">
            <span ng-if="view.tagSummary.isFiredMoreThenOnce()">{{ view.tagSummary.firedCount }} times</span>
            <span ng-if="view.tagSummary.isFiredOnce()">{{ view.tagSummary.firedCount }} time</span>
            <span ng-if="(!view.tagSummary.isFired() && !view.tagSummary.isRespectVisitorsPrivacy(view.doNotTrackEnabled)) && !view.tagSummary.isDisabled()"><%= __('Not fired') %></span>
            <span ng-if="view.tagSummary.isRespectVisitorsPrivacy(view.doNotTrackEnabled) && !view.tagSummary.isDisabled()"><%= __('Do not track') %></span>
            <span ng-if="view.tagSummary.isDisabled()"><%= __('Disabled') %></span>
        </div>
    </div>
    <div id="overview-tag-details-triggers">
        <table>
            <thead>
            <tr>
                <th class="size-90"><%= __('Trigger name') %></th>
                <th class="size-10"></th>
            </tr>
            </thead>
            <tbody ng-repeat="trigger in view.tagSummary.triggers" ng-init="folded = false">
                <tr ng-click="folded = !folded">
                    <td class="size-70" title="{{ trigger.name }}">{{ trigger.name | limitTo : 22 }}{{ trigger.name.length > 22 ? '...' : '' }}</td>
                    <td class="size-10">
                        <i class="icon-arrow-right" ng-if="!folded"></i>
                        <i class="icon-arrow-down" ng-if="folded"></i>
                    </td>
                </tr>
                <tr ng-if="folded">
                    <td colspan="3" class="children">
                        <table>
                            <tbody>
                                <tr ng-repeat="condition in trigger.conditions">
                                    <td>
                                        <strong>{{ condition.variable }}</strong><br />
                                        <span>{{ condition.action }}</span><br />
                                        <span>"{{ condition.value }}"</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

