{
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "agpl"
    ],
    "rules": {
        "agpl/valid-license": [2, "2015 Digimedia Sp. z.o.o. d/b/a Clearcode"],
        "no-use-before-define": 0,
        "quotes": [1, "single", "avoid-escape"],
        "no-bitwise": 2,
        "eqeqeq": [2, "smart"],
        "wrap-iife": [2, "any"],
        "indent": [2, 4],
        "new-cap": 2,
        "no-caller": 2,
        "no-invalid-regexp": 2,
        "no-undef": 2,
        "no-unused-vars": 2,
        "no-unused-expressions": 2,
        "no-trailing-spaces": 2,
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "padded-blocks": [2, "never"],
        "strict": [0, "never"]
    },
    "globals": {
        "MODULE_NAME": true
    }
}
