.helper {
    position: relative;
    top: 2px;
}

.help-tooltip {
    margin-left: 5px;
    font-size: 16px;
    line-height: .75em;
    vertical-align: -15%;
    cursor: pointer;
    color: #ccc;
}

.page-header {
    .help-tooltip {
        margin-left: 8px;
        bottom: 10px;
        position: relative;
    }
}

.help-tooltip-wrapper {

    .tooltip-inner {
        opacity: 0.9;
        font-size: 1.133em;
        text-align: left;
        color: #fff;
        padding: 15px;
    }

}

xmp {
    white-space: none;
}
