include ../../../../views/_mixins

+field_text(
    'variableForm',
    'view.variable.value',
    'value',
    "{{'Value'|translate}}" + " <span class=\"important\">*</span>",
    "view.validateVariable"
)#constant-variable-value(
    ng-required="true",
    ng-disabled="!currentContainer.$container.hasPermission('edit')"
)