<div id="event-tabs">
    <ul>
        <li ng-class="{active: $state.includes('events-log.details.related-tags')}">
            <a href ui-sref="events-log.details.related-tags.list({eventId: view.eventId})"><%= __('Related tags') %></a>
        </li>
        <li ng-class="{active: $state.includes('events-log.details.data-layer')}">
            <a href ui-sref="events-log.details.data-layer({eventId: view.eventId})"><%= __('Data layer') %></a>
        </li>
        <li ng-class="{active: $state.includes('events-log.details.variables')}">
            <a href ui-sref="events-log.details.variables({eventId: view.eventId})"><%= __('Variables') %></a>
        </li>
    </ul>
</div>
